.page1 h1{
    color: white;
    font-size: 10vh;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0f00e6, 0 0 40px #0c00e6, 0 0 50px #1700e6, 0 0 60px #0000e6, 0 0 70px #003ae6;
    font-weight: 100;
    /* padding: 20px; */
    z-index: 999999;
    transition: 1s;
}
.page1 h3{
    position: absolute;
    top:60%;
    z-index:999999;
    color: white;
}
.page1 video{
    width: 100%;
    height: 100%;
    position: absolute;
}
.page2 h1{
    letter-spacing:5px;
    font-size:6vh;
}
.page2 .wrepall{
    margin-left: 5vh;
    line-height:9vh;
}
.page2 .wrepall a{
    text-decoration:none;
    color: white;
    padding:10px 10px;
    border:solid white 1px;
    transition: 1s;
}
.page3 h1{
    letter-spacing:5px;
    font-size:6vh;
}
.page3 .wrepall1{
    margin-left: 5vh;
    line-height:9vh;
}
.page3 .wrepall1 a{
    text-decoration:none;
    color: white;
    padding:10px 10px;
    border:solid white 1px;
}
.page2 a:hover{
 background-color:white;
 color: black;
 font-weight:200;
}
